<nz-modal [(nzVisible)]="isVisible" nzCentered="true" nzKeyboard="false" nzMaskClosable="false" nzTitle="ลงทะเบียนใหม่"
  (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <!-- <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8" nzFor="username">ชื่อผู้ใช้งาน</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อผู้ใช้งาน">
          <input nz-input formControlName="username" name="username" type="username" id="username">
        </nz-form-control>
      </nz-form-item> -->
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8" nzFor="hn">HN</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุ HN">
          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <input formControlName="hn" [(ngModel)]="hn" nz-input id="hn" type="text" name="hn" />
            </div>
            <div nz-col [nzSpan]="12">
              <button nz-button nzType="primary" [disabled]="userId" (click)="getPatientHis()">ค้นหา</button>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8" nzFor="firstName">CID</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุ CID">
          <input formControlName="cid" [(ngModel)]="cid" nz-input id="cid" type="text" name="cid" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="!userId">
        <nz-form-label nzRequired [nzSpan]="8" nzFor="password">รหัสผ่าน</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุรหัสผ่าน 8 ตัวอักษรขึ้นไป">
          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <input formControlName="password" [(ngModel)]="password" nz-input id="password" type="text"
                name="password" />
            </div>
            <div nz-col [nzSpan]="12">
              <button nz-button nzType="default" [disabled]="userId" (click)="randomPassword()">สุ่ม</button>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8" nzFor="fname">ชื่อ</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุชื่อ">
          <input formControlName="fname" [(ngModel)]="fname" nz-input id="fname" type="text" name="fname" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8" nzFor="lname">สกุล</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุสกุล">
          <input formControlName="lname" [(ngModel)]="lname" nz-input id="lname" type="text" name="lname" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="!userId">
        <nz-form-label nzRequired [nzSpan]="8" nzFor="orDate">วันที่ผ่าตัด</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุ วันที่ผ่าตัด">
          <nz-date-picker formControlName="orDate" nz-input id="orDate" name="orDate"
            [(ngModel)]="orDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8" nzFor="selectedDoctor">แพทย์</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุ แพทย์">
          <nz-select nzShowSearch nzAllowClear formControlName="selectedDoctor" nz-input id="selectedDoctor"
            name="selectedDoctor" nzPlaceHolder="Select a person" [(ngModel)]="selectedDoctor">
            <div *ngFor="let i of itemDoctor">
              <nz-option nzLabel="{{i.username}}" nzValue="{{i.username}}"></nz-option>
            </div>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8" nzFor="diagnosis">Diagnosis</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุ Diagnosis">
          <input formControlName="diagnosis" [(ngModel)]="diagnosis" nz-input id="diagnosis" type="text"
            name="diagnosis" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8" nzFor="operation">หัตถการ</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุ หัตถการ">
          <input formControlName="operation" [(ngModel)]="operation" nz-input id="operation" type="text"
            name="operation" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="8" nzFor="phone">เบอร์โทร</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="ระบุ เบอร์โทร">
          <input formControlName="phone" [(ngModel)]="phone" nz-input id="phone" type="text" name="phone" />
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="isAdmin">ผู้ดูแลระบบ</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <label nz-checkbox formControlName="isAdmin" id="isAdmin" name="isAdmin">เป็นผู้ดูแลระบบ</label>
        </nz-form-control>
      </nz-form-item> -->
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="is_active">เปิดใช้งาน</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <label nz-checkbox [(ngModel)]="is_active" formControlName="is_active" id="is_active"
            name="is_active">เปิดใช้งาน</label>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
