<div class="flex flex-row w-full pl-8 pr-8 gap-x-5 justify-between"
  [ngClass]="theme =='light' ? 'bg-white' : 'bg-[#001529]'">
  <div class="flex-none">
    <div class="logo image-container">
      <img class="mx-auto w-auto" src="./assets/images/logo.png" alt="Operating Room">
    </div>
  </div>
  <div class="grow h-14" *ngIf="deviceType =='md' || deviceType=='lg'  || deviceType=='xl'">
    <!-- <ul nz-menu [nzTheme]="theme" nzMode="horizontal" class="header-menu" >
      <li nz-menu-item routerLink="/dashboard" routerLinkActive="ant-menu-item-selected"><span [ngClass]="theme == 'light' ? 'text-black' : 'text-white'">Dashboard</span></li>
      <li nz-menu-item routerLink="/users" routerLinkActive="ant-menu-item-selected"><span [ngClass]="theme == 'light' ? 'text-black' : 'text-white'">User</span>
      </li>
      <li nz-menu-item routerLink="/settings" routerLinkActive="ant-menu-item-selected"><span [ngClass]="theme == 'light' ? 'text-black' : 'text-white'">Settings</span></li>
    </ul> -->

  </div>

  <div class="flex-none w-60 h-full items-center justify-end mt-4 rounded-full"
    [ngClass]="theme =='light' ? 'bg-white' : 'bg-[#001529]'">

    <div nz-col nzSpan="24" class="flex justify-end items-center h-full border-0 rounded-full"
      style="align-items: baseline;" [ngClass]="theme =='light' ? 'bg-white' : 'bg-[#001529]'">
      <nz-button-group class="border-0 h-full rounded-full" [ngClass]="theme =='light' ? 'bg-white' : 'bg-[#001529]'">
        <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight"
          class="rounded-2xl flex justify-end items-center bg-inherit text-blue-900 border-0  rounded-full hover:bg-inherit"
          [ngClass]="theme =='light' ? 'bg-white' : 'bg-[#001529]'">
          <span [ngClass]="theme == 'light' ? 'text-black' : 'text-white'"> สวัสดีคุณ :{{user_login_name}}</span>&nbsp;
          <span nz-icon nzType="user" class="text-green-500 text-md"
            [ngClass]="theme == 'light' ? 'text-black' : 'text-white'">
          </span>
        </button>
      </nz-button-group>
      <nz-dropdown-menu #menu2="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item><i class="fas fa-user-edit text-green-600 text-md"></i>&nbsp;User Profies</li>
          <li nz-submenu nzTitle="Themes" nzIcon="laptop">
            <ul>
              <li nz-menu-item (click)="chageThemeLight()"><i
                  class="fa-regular fa-lightbulb text-black-600 text-md"></i>&nbsp;Light</li>
              <li nz-menu-item (click)="chageThemeDark()"><i
                  class="fa-solid fa-lightbulb text-black-600 text-md"></i>&nbsp;Dark</li>
            </ul>
          </li>
          <li nz-menu-item (click)="logOut()"><i class="fas fa-power-off text-red-600 text-md"></i>&nbsp;Log
            Out</li>
        </ul>
      </nz-dropdown-menu>
    </div>

  </div>
</div>
