<nz-modal [(nzVisible)]="isVisible" nzCentered="true" nzKeyboard="false" nzMaskClosable="false" nzWidth="nzWidth='100%'"
  nzTitle="แสดงข้อมูล {{itemDataContent}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading">
  <ng-container *nzModalContent>
    <div class="flex flex-col card w-full bg-green-50 rounded-md shadow h-100">
      <div class="flex flex-row w-full">
        <div class="flex">
          <div class="flex-shrink-0 p-2">
            <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
              </svg>
            </div>
          </div>
          <div class="flex w-full">
            <div class="ml-4 mt-2">
              <dt class="text-lg leading-6 font-medium text-gray-900">
                ข้อมูลทั่วไป
              </dt>
              <dd class="mt-0 text-base text-gray-500">
                Patient Infomations
              </dd>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="border rounded-md mt-2 border-violet-500 mb-2 grid p-3">
        <nz-divider nzPlain nzText="General Infomations" nzOrientation="center"></nz-divider>
        <div>
          <div class="flex flex-wrap gap-x-3">
            <div class="font-bold "> HN :</div>
            <div> {{itemData.hn}}</div>
            <div class="font-bold "> CID :</div>
            <div> {{itemData.cid}}</div>
            <div class="font-bold "> ชื่อ-สกุล :</div>
            <div> {{itemData.title}}{{itemData.fname}} {{itemData.lname}}</div>
            <div class="font-bold "> เพศ :</div>
            <div> {{itemData.gender}}</div>
            <div class="font-bold "> อายุ :</div>
            <div> {{itemData.age}}&nbsp; ปี</div>
            <div class="font-bold "> เบอร์โทร :</div>
            <div> {{itemData.phone}}</div>
          </div>
        </div>
        <nz-divider nzText="Past History" nzOrientation="center"></nz-divider>
        <div>
          <div class="flex flex-wrap gap-x-3">
            <div class="font-bold"> แพทย์ :</div>
            <div> {{itemData.doctor}}</div>
            <div class="font-bold "> Diagnosis :</div>
            <div> {{itemData.diagnosis}}</div>
            <div class="font-bold "> Operation :</div>
            <div> {{itemData.operation}}</div>
            <div class="font-bold "> วันที่ผ่าตัด :</div>
            <div> {{itemData.ordate}}</div>
          </div>
        </div>
        <nz-divider nzText="ข้อมูลการประเมินหลังผ่าตัด" nzOrientation="center"></nz-divider>
        <div>
          <div class="flex justify-items-center justify-center flex-wrap gap-x-3">
            <nz-button-group>
              <button nz-button nzType="primary" nzBlock nzSize="large">ผลประเมินครั้งที่ 1</button>
              <button nz-button nzType="primary" nzBlock nzSize="large">ผลประเมินครั้งที่ 2</button>
            </nz-button-group>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>
