<nz-content>

  <div class="inner-content">

    <div class="flex flex-wrap justify-between gap-x-6 rounded-lg border-1 p-4 shadow">
      <!-- <div class="flex flex-row ml-4 w-80 shadow p-5 rounded"> -->
      <div class="flex flex-row ml-4 w-56 ">
        <div>
          <button class="rounded-full border-2 w-15 h-15 p-4 bg-orange-200  border-orange-300"><i
              class="fa-solid fa-building-user text-orange-600 text-[20px]"></i></button>
        </div>

        <div class="flex flex-col w-full content-center">
          <div class="flex font-bold justify-center text-5xl text-orange-700">
            {{totalInfo}}
          </div>
          <div class="flex justify-center text-right text-sm font-bold">
            ผู้ป่วยผ่าตัดในระบบ
          </div>
        </div>
      </div>
      <div class="flex flex-row ml-4 w-56">
        <div>
          <button class="rounded-full border-2 w-15 h-15 p-4 bg-red-100  border-red-300"><i
              class="fa-solid fa-building-user text-red-600 text-[20px]"></i></button>
        </div>

        <div class="flex flex-col w-full content-center">
          <div class="flex font-bold justify-center text-5xl text-red-700">
            25
          </div>
          <div class="flex justify-center text-right text-sm font-bold">
            ผู้ป่วยผ่าตัดที่ยังไม่ประเมิน
          </div>
        </div>
      </div>
      <div class="flex flex-row ml-4 w-56 ">
        <div>
          <button class="rounded-full border-2 w-15 h-15 p-4 bg-green-100  border-green-300"><i
              class="fa-solid fa-building-user text-green-600 text-[20px]"></i></button>
        </div>

        <div class="flex flex-col w-full content-center">
          <div class="flex font-bold justify-center text-5xl text-green-700">
            12
          </div>
          <div class="flex justify-center text-right text-sm font-bold">
            ผู้ป่วยผ่าตัดที่ประเมิน
          </div>
        </div>
      </div>

    </div>

    <nz-page-header class="site-page-header bg-white rounded-lg mt-5" nzTitle="ทะเบียนผู้ป่วย">
      <nz-page-header-extra>
        <nz-space>
          <!-- <nz-select (ngModelChange)="onSelectWard($event)" style="width: 220px;" nzPlaceHolder="เลือก Ward"
            *nzSpaceItem [(ngModel)]="dataWard">
            <nz-option *ngFor="let ward of wards" [nzValue]="ward" [nzLabel]="ward.name"></nz-option>
          </nz-select> -->
          <nz-input-group *nzSpaceItem nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" name="query" [(ngModel)]="query" nz-input placeholder="ค้นหา..." />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <nz-button-group>
              <button nz-button nzType="primary" nzSearch [disabled]="!query" (click)="doSearch()"><span nz-icon
                  nzType="search"></span></button>
              <button nz-button nzType="primary" (click)="refresh()"><span nz-icon nzType="reload"></span></button>
            </nz-button-group>
          </ng-template>
          <button *nzSpaceItem nz-button nzType="primary" (click)="openNewUserRegister()">+ ลงทะเบียน</button>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
    <div class="inner-content -mt-8">

      <nz-table #userTable nzSize="small" [nzHideOnSinglePage]="true" [nzData]="dataSet">
        <thead>
          <tr>
            <th>HN</th>
            <th>CID</th>
            <th>ชื่อ - สกุล</th>
            <th>อายุ</th>
            <th>เพศ</th>
            <th>แพทย์</th>
            <th>Operation</th>
            <th>วันผ่าตัด</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userTable.data">
            <td>{{data.hn}}</td>
            <td>{{data.cid}}</td>
            <td>{{data.title}}{{data.fname}} {{data.lname}}</td>
            <td>{{data.age}} ปี</td>
            <td>{{data.gender}}</td>
            <td>{{data.doctor}}</td>
            <td>{{data.operation}}</td>
            <td>{{data.ordate}}</td>
            <td style="text-align: center;">
              <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="menu" class="rounded">
                <span nz-icon nzType="menu"></span>
                จัดการ
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item (click)="viewUser(data)"><span nz-icon nzType="fund-view"
                      nzTheme="outline"></span>&nbsp;ดูข้อมูล</li>
                  <li nz-menu-item (click)="openEdit(data)"><span nz-icon nzType="form"
                      nzTheme="outline"></span>&nbsp;แก้ไขข้อมูล</li>
                  <li nz-menu-item (click)="setPasswordPatient(data)"><span nz-icon nzType="login"
                      nzTheme="outline"></span>&nbsp;รหัสผ่าน</li>
                  <!-- <li nz-menu-item (click)="nurseNote(data.an)"><span nz-icon nzType="diff" nzTheme="outline"></span>&nbsp;บันทึกกิจกรรม (Nurse note)</li>
                  <li nz-menu-item (click)="changeWard(data.id)"><span nz-icon nzType="pic-right" nzTheme="outline"></span>&nbsp;ย้ายตึก/เตียง </li> -->
                  <li nz-menu-item nzDanger nz-popconfirm
                    nzPopconfirmTitle="คุณต้องการลบข้อมูล...{{data.title}}{{data.fname}} {{data.lname}}"
                    (nzOnConfirm)="doChangeStatus(data)" (nzOnCancel)="cancel()" nz-button nzShape="round"
                    nzType="primary" class="w-56"><span nz-icon nzType="delete" nzTheme="outline"></span>&nbsp;จำหน่าย
                  </li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>

        </tbody>
      </nz-table>

      <br>
      <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
        [nzPageSizeOptions]="[20,50,100]" (nzPageIndexChange)="onPageIndexChange($event)"
        (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>

      <ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>

    </div>
  </div>
</nz-content>

<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
  </ng-container>
</nz-modal>

<!-- <app-modal-new-user #mdlNewUser (onSubmit)="onSubmitRegister($event)"></app-modal-new-user>
<app-modal-change-password #mdlChangePassword></app-modal-change-password>
<app-modal-view-user #mdlViewUser></app-modal-view-user> -->
